In [1]:
import pandas as pd

In [12]:
#Loading Data
df = pd.read_csv("./drive/MyDrive/Machine Learning/Data Preprocessing/data/duplicate-data.csv")
df

    Company fuel type  num of doors body style num of cylinders
0      Audi       gas             2      sedan             five
1      Audi       gas             4      wagon             five
2       Bmw       gas             2      sedan             four
3       Bmw       gas             2      sedan             four
4       Bmw       gas             2      sedan              six
5  Mercedes    diesel             4      sedan             five
6  Mercedes    diesel             4      wagon             five

In [9]:
# Drop Duplicates
df.drop_duplicates()

    Company fuel type  num of doors body style num of cylinders
0      Audi       gas             2      sedan             five
1      Audi       gas             4      wagon             five
2       Bmw       gas             2      sedan             four
4       Bmw       gas             2      sedan              six
5  Mercedes    diesel             4      sedan             five
6  Mercedes    diesel             4      wagon             five

In [8]:
# Drop Duplicates with subset
df.drop_duplicates(subset=['Company'])

    Company fuel type  num of doors body style num of cylinders
0      Audi       gas             2      sedan             five
2       Bmw       gas             2      sedan             four
5  Mercedes    diesel             4      sedan             five

In [13]:
# Multiple subsets/columns
df.drop_duplicates(subset=['body style', 'fuel type'])

    Company fuel type  num of doors body style num of cylinders
0      Audi       gas             2      sedan             five
1      Audi       gas             4      wagon             five
5  Mercedes    diesel             4      sedan             five
6  Mercedes    diesel             4      wagon             five

In [14]:
# keep method (default = fast)
df.drop_duplicates(subset=['body style', 'fuel type'], keep='last')

    Company fuel type  num of doors body style num of cylinders
1      Audi       gas             4      wagon             five
4       Bmw       gas             2      sedan              six
5  Mercedes    diesel             4      sedan             five
6  Mercedes    diesel             4      wagon             five