In [15]:
import pandas as pd
import numpy as np

In [16]:
cricketers = {
    'name': ['Virat', 'Rohit', 'Babar', 'Boult', "Bumrah", "Mujeeb", 'Nabi', 'Strokes'],
    'age': [31, 33, 25, 31, 26, 19, 35, 29],
    'grade': ['Best', "Better", "Good", 'Better', 'Good', 'Best', 'Better', 'Good'],
    'role': ['Batsman', 'Batsman', 'Batsman', 'Bowler', "Bowler", 'Bowler', 'All-Rounder', "All-Rounder"],
    'rating': [821, 855, 829, 722, 719, 701, 301, 285],
    'country': ["IND", 'IND', 'PAK', "NZ", 'IND', 'AFG', 'AFG', 'ENG']
}

In [17]:
# Data that has an order, not normal text (Best > Better > Good)
cricketers = pd.DataFrame(cricketers)
cricketers

      name  age   grade         role  rating country
0    Virat   31    Best      Batsman     821     IND
1    Rohit   33  Better      Batsman     855     IND
2    Babar   25    Good      Batsman     829     PAK
3    Boult   31  Better       Bowler     722      NZ
4   Bumrah   26    Good       Bowler     719     IND
5   Mujeeb   19    Best       Bowler     701     AFG
6     Nabi   35  Better  All-Rounder     301     AFG
7  Strokes   29    Good  All-Rounder     285     ENG

In [18]:
# Map the data according to their values
dataMapping = {
    'Best': 3,
    'Better': 2,
    'Good': 1
}

In [19]:
cricketers['grade'] = cricketers['grade'].map(dataMapping)
cricketers

      name  age  grade         role  rating country
0    Virat   31      3      Batsman     821     IND
1    Rohit   33      2      Batsman     855     IND
2    Babar   25      1      Batsman     829     PAK
3    Boult   31      2       Bowler     722      NZ
4   Bumrah   26      1       Bowler     719     IND
5   Mujeeb   19      3       Bowler     701     AFG
6     Nabi   35      2  All-Rounder     301     AFG
7  Strokes   29      1  All-Rounder     285     ENG